[submodule "SDL"]
	path = SDL
	url = git@github.com:sgnoohc/SDL.git
[submodule "rooutil"]
	path = rooutil
	url = git@github.com:sgnoohc/rooutil.git
[submodule "cppitertools"]
	path = cppitertools
	url = git@github.com:ryanhaining/cppitertools.git
